<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  
   <!--<%= link_to "#{@user.name}\'s events", user_events_url(:id => @user.id) %> -->
   <%= link_to "#{@user.name}\'s events", user_events_url(@user) %> 

  <%= link_to 'new Event', user_new_event_url(:uid => @user.id) %> 

</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>