<h1>Listing events</h1>




<script>
  
  
   // var $calE = null;
  
    function fetchEvents(start, end, callBack){
       jQuery.ajax({
       type : 'GET',
       data : {
	'dtstart' : Math.round(start.getTime() / 1000),
	'dtend' : Math.round(end.getTime() / 1000),
	'uid': '<%= escape_javascript(params[:uid]) %>'
       },
       url : '/users/<%= escape_javascript(params[:uid]) %>/events/get_json',
 //	 url : '/users/<%= escape_javascript(params[:uid]) %>/events/get_json',
 //      url : '/users/:uid/events/get_json',

       success : function(data) {
       if (!data) {
	alert('problem while getting calendar events');
	return;
       }
	
       callBack(data);
  
      },
       error : function(XMLHttpRequest, textStatus, errorThrown) {
       },
       complete : function(XMLHttpRequest, textStatus) {
      }
      });
       
    }
  
  function renderEvents() {

    var start = $('#calendar').fullCalendar('getView').start;
    alert(start);
    //var start = $calE.fullCalendar('getView').start;

    var startts = start.getTime() * .001;    
   
    var end = $('#calendar').fullCalendar('getView').end;
    var endts = end.getTime() * .001;
   
    jQuery.ajax({
     type : 'GET',
     dataType : 'json',
     
     data : {
      'dtstart' : startts,
      'dtend' : endts,
      'uid' : '<%= escape_javascript(params[:uid]) %>'
     },
     //url : '/users/:uid/events/get_json',
            url : '/users/<%= escape_javascript(params[:uid]) %>/events/get_json',
     success : function(data, textStatus) {
      
     },
     error : function(XMLHttpRequest, textStatus, errorThrown) {
     },
     complete : function(XMLHttpRequest, textStatus) {
    }
    });
    // alert('finished rendering RequestItems');

  }
  $(document).ready(function(){
		var $tabs = $("#displaymodetab").tabs(
			{
				ajaxOptions : {
					error : function(xhr, status, index, anchor) {
						$(anchor.hash).html(
								"Couldn't load this tab. We'll try to fix this as soon as possible. "
										+ "If this wouldn't be a demo.");
					}

				}
			});	
  
    

      // page is now ready, initialize the calendar...
		/*$calE=*/$('#calendar').fullCalendar({
			  editable: true,
			 loading: function(bool){
			  if (bool) 
			      $('#loading').show();
			  else 
			      $('#loading').hide();
		      },
				    viewDisplay : function(view) {
			  renderEvents();
			},
			header : {
			left : 'prev,next today',
			center : 'title',
			right : 'month,agendaWeek,agendaDay'
			},

			aspectRatio : 2,	
			/*eventSources : [ {
			events : function(start, end, callback) {
			 fetchEvents(start, end, callback);
			}}],*/
			events: function(start, end, callback){
			  fetchEvents(start, end, callback)
			},
			color : 'yellow', // an option!
			textColor : 'black', // an option!
			backgroundColor : 'green',
			className : 'requestItem'
		       }
		     
		       //]
			/* eventSources: [
				  
				[
				{
					color: 'yellow',
					title  : 'event1',
					start  : '2013-01-10'
				},
				{
					title  : 'event2',
					start  : '2013-01-10',
					end    : '2013-01-13'
				},
				{
					title  : 'event3',
					start  : '2013-01-14 12:30:00',
					allDay : false // will make the time show
				}
				]*/
				
				/*,
				// your event source
				{
					url: '/myfeed.php',
					type: 'POST',
					data: {
						custom_param1: 'something',
						custom_param2: 'somethingelse'
					},
					error: function() {
						alert('there was an error while fetching events!');
					},
					color: 'yellow',   // a non-ajax option
					textColor: 'black' // a non-ajax option
				}*/

				// any other sources...

		//	]
			
			
	//}
	);
  });
</script>







<div id="searchbar">
 <%= form_tag :controller => 'events', :action => 'search' do %>
  <p>
    Textsuche: -> 
    <%= text_field_tag :search, params[:search], :id => 'search_field' %>
  </p>
  <p>
    Zeitraumanfang: 
    <%= datetime_select :dtstart, params[:dtstart], :id => 'date_start' %>
  </p>
  <p>
    Zeitraumende: 
    <%= datetime_select :dtend, params[:dtend], :id => 'date_end' =%>
  </p>
    <%= hidden_field_tag :uid, params[:uid] %>
    <%= submit_tag "Search", :name => nil %> 
    <%= link_to_function "Clear", "$('search_field').clear()" %>
 <% end %> 
</div>
</br>
<div id="select_range">
  <%= link_to "events today", user_events_today_url(:uid =>params[:uid]) %> | 
  <%= link_to "this week", user_events_week_url(:uid => params[:uid], :date => nil)%> | 
  <%= link_to "this month", user_events_month_url(:uid => params[:uid], :date => nil)%> | 
  <%= link_to "all events", user_events_url(:uid => params[:uid]) %>
</div>

</br>
<%= link_to 'new Event', user_new_event_url(:uid => params[:uid]) %> | 

<%= link_to 'back to users', users_path %>


<div id="displaymodetab">

					<ul id="tabsnav">
						<li><a id="tabheaderjobsleft" href="#tabs-1">Calendar</a></li>
						<li><a id="tabheaderticketsleft" href="#tabs-2">List</a></li>
						
					</ul>

					<div id="tabs-1">
					
						<div>
						  <div id='calendar' style="width: 800px; height: 300px;">
						  </div>
						</div>

						<div style="clear: both; height: 320px;"></div>

					
					
					</div>
					
					<div id="tabs-2">
					
					 
					<table>
					  <tr>
						<th>Date start</th>
						<th>Date end</th>
						<th>Summary</th>
						<th>Description</th>
						<th>User name</th>
						<th></th>
						<th></th>
						<th></th>
					  </tr>

					  <% @events.each do |event| %>
					    <tr>
						  <td><%= event.dtstart %></td>
						  <td><%= event.dtend %></td>
						  <td><%= event.summary %></td>
						  <td><%= event.description %></td>
						  <td><%= event.user.name %></td>
						  
						   <td><%= link_to 'Show', user_events_show_url(:uid => params[:uid], :id => event.id) %></td>
  
						  <td><%= link_to 'Edit', user_edit_event_url(:uid => params[:uid], :id => event.id) %></td>
						  <td><%= link_to 'Destroy', user_delete_event_url(:uid => params[:uid], :id => event.id)  , method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
					    </tr>
					  <% end %>
					</table>
					
					
					
					
					
					</div>
					
					
</div>

 

<br />

