<h1>Listing events</h1>

<div id="searchbar">
 <%= form_tag :controller => 'events', :action => 'search' do %>
  <p>
    Textsuche: -> 
    <%= text_field_tag :search, params[:search], :id => 'search_field' %>
  </p>
  <p>
    Zeitraumanfang: 
    <%= datetime_select :dtstart, params[:dtstart], :id => 'date_start' %>
  </p>
  <p>
    Zeitraumende: 
    <%= datetime_select :dtend, params[:dtend], :id => 'date_end' =%>
  </p>
    <%= hidden_field_tag :uid, params[:uid] %>
    <%= submit_tag "Search", :name => nil %> 
    <%= link_to_function "Clear", "$('search_field').clear()" %>
 <% end %> 
</div>
</br>
<div id="select_range">
  <%= link_to "events today", user_events_today_url(:uid =>params[:uid]) %> | 
  <%= link_to "this week", user_events_week_url(:uid => params[:uid], :date => nil)%> | 
  <%= link_to "all events", user_events_url(:uid => params[:uid]) %>
</div>


</br>
<%= link_to 'new Event', user_new_event_url(:uid => params[:uid]) %> | 

<%= link_to 'back to users', users_path %>


  
<table>
  <tr>
    <th>Date start</th>
    <th>Date end</th>
    <th>Summary</th>
    <th>Description</th>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.dtstart %></td>
    <td><%= event.dtend %></td>
    <td><%= event.summary %></td>
    <td><%= event.description %></td>
    <td><%= event.user.name %></td>
    
     <td><%= link_to 'Show', user_events_show_url(:uid => params[:uid], :id => event.id) %></td>

    <td><%= link_to 'Edit', user_edit_event_url(:uid => params[:uid], :id => event.id) %></td>
    <td><%= link_to 'Destroy', user_delete_event_url(:uid => params[:uid], :id => event.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

