<%#= javascript_include_tag "application", :recursive => true %>
<%= stylesheet_link_tag "modal"%>

<%= javascript_include_tag "launchWindow" %>

<%= @event = nil  %>
<%#= render 'modal', locals: { :event => @event } %>


<script>
  
  

   // var $calE = null;
  
    function fetchEvents(start, end, callBack){
       jQuery.ajax({
       type : 'GET',
       data : {
	'dtstart' : Math.round(start.getTime() / 1000),
	'dtend' : Math.round(end.getTime() / 1000),
	'uid': '<%= escape_javascript(params[:uid]) %>'
       },
       url : '/users/<%= escape_javascript(params[:uid]) %>/events/get_json',

       success : function(data) {
       if (!data) {
	alert('problem while getting calendar events');
	return;
       }
  //     alert(data);	
      // 
       	callBack(data);

      },
       error : function(XMLHttpRequest, textStatus, errorThrown) {
	
       },
       complete : function(XMLHttpRequest, textStatus) {
      }
      });
       
    }
  
  function renderEvents() {
    var start = $('#calendar').fullCalendar('getView').start;
    

    var startts = start.getTime() * .001;    
   
    var end = $('#calendar').fullCalendar('getView').end;
    var endts = end.getTime() * .001;
    jQuery.ajax({
     type : 'GET',
     dataType : 'json',
     
     data : {
      'dtstart' : startts,
      'dtend' : endts,
      'uid' : '<%= escape_javascript(params[:uid]) %>'
     },
     //url : '/users/:uid/events/get_json',
     url : '/users/<%= escape_javascript(params[:uid]) %>/events/get_json',
     success : function(data, textStatus) {
 //    alert(startts  + " " + endts + " " + data[0]['title']); 
      for (i = 0; i < data.length; i++){
       $("#calendar").fullCalendar('renderEvent', data[i]);
      }
     },
     error : function(XMLHttpRequest, textStatus, errorThrown) {
   //   alert("Damn");
     },
     complete : function(XMLHttpRequest, textStatus) {
      
    }
    });
    // alert('finished rendering RequestItems');

  }
 
  
  
  $(document).ready(function(){
	  
	  
	    $('a[name=modal]').click(function(e) {
	       //Cancel the link behavior
	       e.preventDefault();
	       //Get the A tag
	       var id = $(this).attr('href');
	    
	       //Get the screen height and width
	       var maskHeight = $(document).height();
	       var maskWidth = $(window).width();
	    
	       //Set height and width to mask to fill up the whole screen
	       $('#mask').css({'width':maskWidth,'height':maskHeight});
		
	       //transition effect    
	       $('#mask').fadeIn(1000);   
	       $('#mask').fadeTo("slow",0.8); 
	    
	       //Get the window height and width
	       var winH = $(window).height();
	       var winW = $(window).width();
		      
	       //Set the popup window to center
	       $(id).css('top',  winH/2-$(id).height()/2);
	       $(id).css('left', winW/2-$(id).width()/2);
	    
	       //transition effect
	       $(id).fadeIn(2000);
	    
	   });
	    
	   //if close button is clicked
	   $('.window .close').click(function (e) {
	       //Cancel the link behavior
	       e.preventDefault();
	       $('#mask, .window').hide();
	   });    
	    
	   //if mask is clicked
	   $('#mask').click(function () {
	       $(this).hide();
	       $('.window').hide();
	   });        
     

		var $tabs = $("#displaymodetab").tabs(
			{
				ajaxOptions : {
					error : function(xhr, status, index, anchor) {
						$(anchor.hash).html(
								"Couldn't load this tab. We'll try to fix this as soon as possible. "
										+ "If this wouldn't be a demo.");
					}

				}
			});	
  
    
	var viewHash = new Object();
      // page is now ready, initialize the calendar...
		$('#calendar').fullCalendar({
			  lazyFetching: true,
			  columnFormat: {
			    month: 'ddd',
			    week: 'ddd d.M',
			    day: 'ddd d.M'
			  },
			  editable: true,
			 /*loading: function(bool){
			  if (bool) 
			      $('#loading').show();
			  else 
			      $('#loading').hide();
			  },*/
			viewDisplay : function(view) {
			  if ((view.name == "month") && !(view.title in viewHash)){
			    viewHash[view.title] = true;
			    renderEvents();
			    }
			  
			},
			eventClick : function(calEvent, jsEvent, view){
			      var id = calEvent.id;
			      $('#dialogBodyEvent').remove();				// clear the body
			      $.getJSON('/users/<%= escape_javascript(params[:uid]) %>/events/'+calEvent.id, function(data){
				
				$('#dialogBody').append($('<div>', {
				   html:
				    ' <p><b> Title: </b>' + data['summary'] +
				    ' <p><b> Start: </b> ' + data['dtstart'] +
				    ' </p><p><b> End: </b>' + data['dtend'] +
				    ' </p><p><b> Description: </b> '+  data['description'] +
				    ' </p><p> <a href=\"/users/'+data['user_id']+'/events/'+data['id']+'/edit\">Edit event</a> ' 
				    
				 }).attr('id','dialogBodyEvent'));
				  
			      });
			  /*    jQuery.ajax({
			        type : 'GET',
				dataType : 'json',
				url : '/users/<%= escape_javascript(params[:uid]) %>/events/'+calEvent.id,
				
			       success : function(data, textStatus) {
				
				//  $("#dialog").html(data);
				 // alert($("#dialog").html(data));
				 // $("#document").html(<%= escape_javascript(render 'modal', locals: { :event => @event })%>);
				 }
				});
     */
			      
			       
			      launchWindow("#dialog");

			      //window.location.href = 'events/' + calEvent.id+ '/edit'
			  },
			eventMouseover : function(calEvent, jsEvent, view){
			   
			},
			header : {
			left : 'prev,next today',
			center : 'title',
			right : 'month,agendaWeek,agendaDay'
			},

			eventSources : [{
			events :
			
			  function(start, end, callback){
			  fetchEvents(start, end, callback);
			  },
			
			//{"id" : 13, "title":"smash","start":"2013-01-18","end":"2013-01-18"},
			//{"id" : 14, "title":"bladescription","description":"watn schei\u00df","start":"2013-01-23","end":"2013-01-23"}
			
			}],
			color : 'blue', // an option!
			textColor : 'black', // an option!
			backgroundColor : 'green',
			className : 'requestItem'
		       }
		     

	);
  });
</script>







<div id="searchbar">
 <%= form_tag :controller => 'events', :action => 'search' do %>
    <p>
    <table>
      <tr>
	<td>
	  Textsuche: 
	</td>
	<td>
	   <%= text_field_tag :search, params[:search], :id => 'search_field' %>
	</td>
      </tr>
    </table>
  </p>
  <p>
    Zeitraumanfang: 
    <%= datetime_select :dtstart, params[:dtstart], :id => 'date_start' %>
  </p>
  <p>
    Zeitraumende: 
    <%= datetime_select :dtend, params[:dtend], :id => 'date_end' =%>
  </p>
    <%= hidden_field_tag :uid, params[:uid] %>
    <%= submit_tag "Search", :name => nil %> 
    <%= link_to_function "Clear", "$('search_field').clear()" %>
 <% end %> 
</div>


</br>
<div id="select_range">
  <%= link_to "events today", user_events_today_url(:uid =>params[:uid]) %> | 
  <%= link_to "this week", user_events_week_url(:uid => params[:uid], :date => nil)%> | 
  <%= link_to "this month", user_events_month_url(:uid => params[:uid], :date => nil)%> | 
  <%= link_to "all events", user_events_url(:uid => params[:uid]) %>
</div>

					  

</br>
<%= link_to 'new Event', user_new_event_url(:uid => params[:uid]) %> | 

<%= link_to 'back to users', users_path %>


<div id="displaymodetab">

					<ul id="tabsnav">
						<li><a id="tabheaderjobsleft" href="#tabs-1">Calendar</a></li>
						<li><a id="tabheaderticketsleft" href="#tabs-2">List</a></li>
						
					</ul>

					<div id="tabs-1">
					
						<div>
						  <div id='calendar' style="width: 800px; height: 300px;">
						  </div>
						</div>

						<div style="clear: both; height: 320px;"></div>

					
					
					</div>
					
					<div id="tabs-2">
					
					 
					<table>
					  <tr>
						<th>Date start</th>
						<th>Date end</th>
						<th>Summary</th>
						<th>Description</th>
						<th>User name</th>
						<th></th>
						<th></th>
						<th></th>
					  </tr>

					  <% @events.each do |event| %>
					    <tr>
						  <td><%= event.dtstart %></td>
						  <td><%= event.dtend %></td>
						  <td><%= event.summary %></td>
						  <td><%= event.description %></td>
						  <td><%= event.user.name %></td>
						  
						   <td><%= button_to 'Show', user_events_show_url(:uid => params[:uid], :id => event.id), :method => :get %></td>
						  <td><%= button_to 'Edit', user_edit_event_url(:uid => params[:uid], :id => event.id), :method => :get %></td>
						  <td><%= button_to "delete", [event.user, event], :method=>:delete, :class=>:destroy, :confirm => 'Are you sure?' %>
						      <%#= link_to "Destroy", user_event_url(event.user, event), :method => :delete,  :confirm => 'Are you sure?'%></td>

					    </tr>
					  <% end %>
					</table>
					
					
					
					
					
					</div>
					
					
</div>

 

<br />

<%= render :partial => 'modal', :locals => {:event => @event} %>
