<p id="notice"><%= notice %></p>

<p>
  <b>Dtstart:</b>
  <%= @event.dtstart %>
</p>

<p>
  <b>Dtend:</b>
  <%= @event.dtend %>
</p>

<p>
  <b>Summary:</b>
  <%= @event.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>User name:</b>
  <%= @event.user.name %>
</p>

<%= link_to 'Edit', user_edit_event_url(:uid => @event.user_id, :id => @event.id) %> | 
<%= link_to "Back", user_events_url(:id => @event.user_id) %>

